*{margin:0;padding:0;}
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');
/**font-family: 'Montserrat', sans-serif;**/

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
body{
    background-color: #f4f4f4;
}
/*
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
a:hover{
    text-decoration: none;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.top_bar{
	background-color:#fff;
}
.logo{
	padding: 5% 0;
    width: 50%;
    height: auto;
}
.logo img{
	width:100%;
	height:auto;
}

.top_add>img{
	width: 100%;
    height: auto;
    margin: 3% 0;
}
.btn-topbar {
    color: #fff;
    background-color: #f44336;
    border-color: #F44336;
}
.btn-topbar:hover {
    color: #fff;
    background-color: #ea4034;
    border-color: #ea4034;
}
.form-control:focus {
    border: 1px solid #F44336;
    outline: none;
    box-shadow: 0 0 6px 0 #F44336;
}
.btn:focus {
     box-shadow: none;}
.menu_bar{
    padding: 10px 0px;
    background-color: #292929!important;
}
.navbar{
	padding: 0;
	
}
.category-list{
    background: #f44336;
    border-radius: 5px;
}
.category-list i{
    margin-right: 5px;
}
nav ul {
	list-style:none;
}
nav ul li {
}
nav ul li a{
	text-decoration: none;
    display: block;
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	font-size: 16px;
}
nav ul li a:hover{
	background-color:#ea4034;
	text-decoration:none;
	color:#fff;
}
.activemenu{
	background: #00bcd4;
}
nav ul li ul li a{
	text-decoration: none;
    color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
.menu-two > nav{
    justify-content: flex-end;
}
.menu-two > nav >ul>li>a{
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 15px;
}
.menu-two > nav >ul>li>a:hover{
    background:none; 
    color: #ea4034;
}
.owl-theme .owl-nav.disabled+.owl-dots{
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #f44336;
}

.section-portion{
    margin: 50px 0px;
    padding: 30px 30px 0px 30px;
    background: #ffffff;
    border-radius: 10px;
}
.section-heading{
    margin-bottom: 40px
}
.section-heading h2{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f1ecec;
    position: relative;
}
.section-heading h2:after{
    content: "";
    position: absolute;
    background-color: #f44336;
    height: 4px;
    width: 80px;
    bottom: -2px;
    left: 0px;
}
.category-name{
    margin-bottom: 30px;
}
.category-name a img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-bottom: 5px solid #f44336;
}
.category-name a h2{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 18px;
    text-align: center;
}
.category-name a:hover .field-hover img{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.product-item:hover{
    cursor:pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.card-body {
    padding: 10px;
}
.price-box{
    overflow: hidden;
}
.product{}
.product img{}
.product h2{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 20px;
    margin-top: 10px;
}
.product-action-box{
    overflow: hidden;
}
.product-action-box >a{
    margin: 10px 16px 0 0;
    display: inline-block;
    font-size: 14px;
    padding: 5px 11px;
    color: #fff;
    background-color: #f44336;
    overflow: hidden;
    border-radius: 4px;
}
.product-action-box >a:last-child{
    margin: 10px 0 0 0;
}
.product-action-box >a:hover{
    background-color: #e4392c;
}


/*Footer Section Start*/
#footer_section{
    background-color: #fff;
    padding: 50px 0;
}
.footer_logo_portion{
    overflow: hidden;
}
.footer_logo_portion img{
    width: 240px;
    height: auto;
    margin-bottom: 23px;
}
.footer_logo_portion ul{
    overflow: hidden;
}
.footer_logo_portion ul li{
    list-style: none;
    float: left;
}
.footer_logo_portion ul li a i{
    font-size: 20px;
    margin-right: 15px;
    color: #c7c7c7f5;
}
.footer_logo_portion ul li a i:hover{
    color:#f44336;
}
.footer_logo_portion p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #999;
    text-decoration: none;
}
.footer_about_portion{}
.footer_about_portion h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    padding-bottom: 8px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgb(236, 236, 236);
}
.footer_about_portion ul{}
.footer_about_portion ul li{
    list-style-type: none;
    margin-bottom: 5px;
}
.footer_about_portion ul li a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #999;
}
.footer_about_portion ul li a:hover{
    color:#f44336;
}


/*Product List Page start*/
.top_page_link{
    margin-top: 20px;
}
.top_page_link h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #8c8c8c;
}
.top_page_link h2 a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #8c8c8c;
    margin: 0px 5px;
}
.top_page_link h2 a:hover{
    color: #f44336;
}
.product-list-section-portion {
    margin: 15px 0px 50px 0px;
    padding: 30px 30px 0px 30px;
    background: #ffffff;
    border-radius: 10px;
}
.view-product-details{
    overflow: hidden;
    margin-bottom: 20px;
}
.view-product-details h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    margin-left: 5px;
}
.view-product-details span{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #575757;
    margin-left: 5px;
}
.product-action-box input[type="number"]{
    width: 20%;
    float: left;
    margin-top: 8px;
    overflow: hidden;
    margin-right: 20px;
    margin-left: 5px;
}
.view-product-details h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    margin-left: 5px;
    background: #efefef;
    padding: 5px 10px;
    margin-top: 17px;
}
.view-product-details ul li{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #808080;
    padding: 5px 10px;
    margin-left: 25px;  
}

.view-cart-table{
    width:100%;
    overflow-x: auto; 
}
.view-cart-table table tbody td input{
    width: 40%;
}
.proceed-checkout a{
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    padding: 6px 24px;
    color: #fff;
    background-color: #f44336;
    overflow: hidden;
    border-radius: 4px;
}