@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body{font-family: 'Roboto', sans-serif;
     background: #fafafa}

/*p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}*/

.body-wrapper{
    display: flex;
    width: 100%;
    align-items: stretch;
}



#sidebar {
    height: 100vh;
    min-width: 220px;
    background: #2A3F54;
    color: #fff;
    transition: all 0.3s;
    z-index: 99999;
    position: relative;
}
#sidebar.activeSidebar{
	margin-left: -220px;
}
.sidebar-body{
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    min-width: 220px;
    color: #fff;
    transition: all 0.3s;
    background: #2A3F54;
}
#sidebar .sidebar-header{
}
.logo-section{  
    padding: 18px 20px;
    border-bottom: 1px solid #3c536b;
}
.logo-section img{
    display: flex;
    margin: 0 auto;
}
.admin-info{    
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 18px 20px;
    border-bottom: 1px solid #3c536b;
}
.admin-info .admin-image{
    display: inline-block;
    float: left;
    overflow: hidden;
    margin-right: 10px;
}
.admin-info .admin-image img{
    border-radius: 50%;
}
.admin-info .info-container{
    display: inline-block;
    overflow: hidden;
}
.admin-info .info-container h2{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 3px;
}
.admin-info .info-container h3{
    font-family: 'Roboto', sans-serif;
    color: #718192;
    font-size: 12px;
    text-decoration: none;
    font-weight: 300;    
    margin-bottom: 0px;
}
.sidebar-menu{}
.sidebar-menu ul{
    list-style: none;
}
.sidebar-menu ul h2{
    font-family: 'Roboto', sans-serif;
    background: #213142;
    font-size: 12px;
    font-weight: 500;
    padding: 12px 10px;
    color: #718192;
    margin-bottom: 0px;
    list-style: none;
}


.sidebar-menu ul li a{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.7em;
    color: #ffffff;
	padding: 10px;
	font-size: 15px;
	display: block;
    text-decoration: none;
}
.sidebar-menu ul li a:hover {
    color: #fff;
    background: #17a2b8;
}

.sidebar-menu > ul> li > a[data-toggle="collapse"] {
    position: relative;
}
.sidebar-menu > ul> li > a[data-toggle="collapse"]:after {
    position: absolute;
    content: "";
    right: 20px;
    top: 16px;
    width: 13px;
    height: 13px;
    background: linear-gradient(to bottom, transparent 35%, #fff 35%, #fff 65%, transparent 65%), linear-gradient(to right, transparent 35%, #fff 35%, #fff 65%, transparent 65%);
}

.sidebar-menu > ul> li > a[aria-expanded="true"]:after {
    position: absolute;
    content: "";
    right: 20px;
    top: 21px;
    height: 3px;
    width: 13px;
    background: #ffffff;
}
.sidebar-menu > ul> li > a[aria-expanded="true"] {
    background: #17a2b8;
}

.sidebar-menu ul ul a {
    font-size: 0.9em !important;
    padding-left: 40px !important;
    background: #30475f;
}
.sidebar-menu ul li i{
    margin-right: 10px;
}

.sidebar-button {
    right: -244px;
    display: inline-block;
    position: relative;
    top: 15px;
}
#body-content{
    width: 100%;
    overflow: hidden;
}
.tob-bar{
    background: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
.navbar{
    padding: 22px 10px;
    border: none;
    border-radius: 0;
    justify-content: flex-end;
}
.navbar-nav {
    flex-direction: row;
}
.tob-bar-menu li {
    margin-left: 10px;
}
.tob-bar-menu li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.7em;
    color: #000000;
    font-size: 15px;
    text-decoration: none;
}
.tob-bar-menu li a:hover {
    color: #17a2b8;
 }

.main-button{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    float: right;
    overflow: hidden;
    background: #17a2b8;
    color: #ffffff;
    padding: 7px 15px;
    border-radius: 6px;
}
.main-button:hover{
    background: #1491a5;
    color: #ffffff;
    text-decoration: none;
}


/*Banner page*/

.table-section {
    background: #fff;
    padding: 30px 15px;
    margin: 25px;
    overflow: hidden;
}

.view-table {
    width: 100%;
    overflow-x: auto;
}
.view-table table tbody tr td a{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #17a2b8;
}

.view-details{
    width:100%;
}
.view-details img{
    width: 80%;
    height: auto;
    margin-bottom:10px;
}
.view-details h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.7em;
    color: #17a2b8;
    font-size: 28px;
    text-decoration: none;
}
.view-details p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #a7a7a7;
    font-size: 16px;
    text-decoration: none;
}
.view-details span{
    font-weight: 500;
    color: #31d231;
}


/* Mobile View */
@media only screen and (max-width: 767px){
    #sidebar {
        margin-left: -220px;
        position: absolute;
    }
    #sidebar.activeSidebar{
        margin-left: 0px;
        overflow: visible;
        z-index: 99999999;
    }
    #body-content{
        width: 100%;
        overflow: hidden;
        position: relative;
    }
}













